*.meta
*.hdr
*Library*

reports

labs/lab1/Logs
labs/lab1/Packages
labs/lab1/ProjectSettings
labs/lab1/Temp
labs/lab1/UserSettings

labs/lab2/Logs
labs/lab2/Packages
labs/lab2/ProjectSettings
labs/lab2/Temp
labs/lab2/UserSettings
labs/lab2/build

labs/lab2/Assets/SineVFX
